<mat-list>
    <mat-list-item>
        <a class="itemMenu" routerLink="/login">Ingresar</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a class="itemMenu" routerLink="/register">Registrarme</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a class="itemMenu" routerLink="/productsList">Productos</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a class="itemMenu" routerLink="/about">Sobre Nosotros</a>
    </mat-list-item>
  </mat-list>
