/* ESTILOS PARA LAS CARS */
mat-card {
    width: 95%;
    min-height: 70vh;
    height: auto;
    margin: auto;
    border-bottom: solid 1px gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    justify-content: stretch; 
}


/* ESTILOS PARA EL CONTAINER DE LA IMAGEN */
.containerMatImg {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerMatImg img {
    height: 80%;
    width: 90%;
    margin-top: 0;
    margin: 0 0 0 0;
}


/* ESTILOS PARA EL CONTAINER DE INFORMACIÓN DEL PRODUCTO */
mat-card-content {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

mat-card-content > h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 2rem;
}

mat-card-content > h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 1rem;
}

mat-card-content > p {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 1rem;
    width: fit-content;
}


/* ESTILOS PARA EL CONTAINER DE BOTONES O ACCIONES */
.containerMatActions {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.mat-card-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}


/* ESTILOS PARA LOS BOTONES */
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    border: 0;
    border-radius: 0;
    transition: all 0.5s;
    min-height: 2.3rem;
    min-width: 150px;
    width: 100%;
    margin-bottom: 5px;
}

.btn:hover {
    transition: all 0.5s;
    font-size: 15px;
    box-shadow: 0px 6px 15px rgb(131, 118, 114);
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff;
}

.btn-addToCard {
    background: rgb(251, 86, 40);
}

.btn-buyNow {
    background: rgb(253, 192, 42);
}

.btn mat-icon {
    margin-right: 5px;
}

.btnActive {
    background: rgb(161, 161, 161);
}

.btnInvisibility {
    display: none;
}



/* ESTILOS RESPONSIVOS */
@media screen and (max-width: 480px){
    mat-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr;
        grid-gap: 0.5rem;
    }

    .containerMatImg {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    mat-card-content {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .containerMatActions {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    
}