<div *ngFor="let producto of productos">

    <div *ngIf="productoId == producto.idProducto">

        <mat-card>

            <div class="containerMatImg">

                <img mat-card-image [src]="producto.urlImagenCard" alt="imagenProducto">

            </div>

            <mat-card-content>
                <h3>{{producto.nombreProducto}}</h3>
                <h4>Descripción:</h4>
                <p>{{producto.descripcion}}</p>
                <h4>Precio:</h4>
                <h4>{{ producto.precio | currency:'USD':'symbol':'1.2-2' }}</h4>
            </mat-card-content>

            <div class="containerMatActions">
                <mat-card-actions>

                    <button mat-button matRipple [matRippleDisabled]="!productInCart(producto)" class="btn btn-addToCard" (click)="addProductToCart(producto)"> 
                        <mat-icon>{{!productInCart(producto) ? 'shopping_cart' : 'check'}}</mat-icon>
                        {{!productInCart(producto) ? 'agregar al carrrito' : 'seleccionado'}}
                    </button>
    
                    <button mat-button matRipple class="btn btn-buyNow" routerLink="/buyNow"> 
                        comprar ahora
                    </button>

                </mat-card-actions>
            </div>

        </mat-card>

    </div>

</div>
